

body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  font-size: 1.2rem;
}

.image_container {
  width: 100vw; /* 可根据需要调整宽度 */
  height: 100vh; /* 自动调整高度 */
  max-width: 100vw; /* 图片最大宽度为容器的宽度 */
  display: block; /* 使容器成为块级元素 */
  overflow: hidden; /* 隐藏超出容器的部分 */
  object-fit: cover; /* 保持原始比例并填充容器 */
}

.memory_container {
  float: left;
  padding: 0;
  overflow-y: scroll;
}

.memory_image_container {
  display: block; /* 使容器成为块级元素 */
  overflow: hidden; /* 隐藏超出容器的部分 */
  object-fit: cover; /* 保持原始比例并填充容器 */
}

.transport_container{
  width: auto;
  height:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




#map {
  position: relative;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;

  width:100vw;
  height:60vh;
  
  justify-content: center;
  align-items: center;
  
  border-width: 4px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: white; /* 边框颜色 */
  border-radius: 10px; /* 边框圆角半径 */
}

#checkboxContainer {
  margin-bottom: 0;
  position: absolute;
  background-color: #044e77;
  right: 5%;
  z-index: 1; 
 
  font-size: 0.8rem;
  font-family: "Times New Roman", serif;
  color: white;
  
  border-width: 1px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: white; /* 边框颜色 */
  border-radius: 1px; /* 边框圆角半径 */
}

.popover{
  width: 200px;
  /* height: 100px; */
}

#divMemorySearch{
  width: 400px;
  height: 80px;
  margin-bottom: 50px;
}

#button-sort{
  height: 30px;
  width: 305px;
  
}

#memorySort{
  height: 30px;
  width: 200px;
  
}
#yearFilter{
  height: 30px;
  width: 200px;
  
}


@media only screen and (max-width: 768px) {
  #divMemorySearch{
    font-size: 1.0rem;
  }
}

@media screen and (min-width: 768px) {
  #divMemorySearch{
    font-size: 1.2rem;
  }
}






