
body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  font-size: 1.0rem;
  
}

#navbarSupportedContent{
  margin-right: 135px;
}

/***************************************
 Map Containner and inner elements
 ***************************************/
@media only screen and (max-height: 768px) {
  .map_header{
	font-size: 1.6rem;
  }
  .yearSelector{
	font-size: 0.8rem;
	height:20px;
	width: 100px;
  }
  .map_checkBox{
	font-size: 0.6rem; 
  }
}

@media screen and (min-height: 768px) {
  .map_header{
	font-size: 2.2rem;
  }
  .yearSelector{
	font-size: 1.2rem;
	height:30px;
	width: 120px;
  }
  .map_checkBox{
	font-size: 1.0rem; 
  }
}


.map_container {
  position: relative;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 

  background-color: #044e77;
  width:100%;
  height:100%;
  
  border-radius: 10px; /* 边框圆角半径 */

}

.map_header{
  position: relative;

  top: 2%;
  right: 0;
  bottom: 0;
  left: 2%; 
  
  width:96%;
  height:8%;
  
  color: white;
  text-align: center;
  font-weight: bold;

  
  border-width: 4px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: white; /* 边框颜色 */
  border-radius: 10px; /* 边框圆角半径 */
}

#map {
  position: relative;

  top: 1%;
  right: 0;
  bottom: 0;
  left: 2%; 

  width:96%;
  height:80%;
  
  border-width: 4px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: white; /* 边框颜色 */
  border-radius: 10px; /* 边框圆角半径 */

}

.yearSelector{
	
  position: absolute;
  z-index: 1; 
  background-color: #044e77;
  
  text-align: center;
  font-weight: bold;
  color: white;
  
  top: 1%;
  right: 1%;
  z-index: 1; 
  
  border-width: 1px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: white; /* 边框颜色 */
  border-radius: 1px; /* 边框圆角半径 */
}

.map_checkBox{
  margin-bottom: 0;
  position: absolute;
  background-color: #044e77;
  bottom: 5%;
  right: 1%;
  z-index: 1; 
 
  font-family: "Times New Roman", serif;
  font-weight: bold;
  color: white;
  
  border-width: 1px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: white; /* 边框颜色 */
  border-radius: 1px; /* 边框圆角半径 */
}




/***************************************
 Chart Containner and inner elements
 ***************************************/
 
@media only screen and (max-width: 768px) {
  .charts_super_container{
	grid-template-columns: repeat(auto-fit, 85vw);/*auto-fit*/
  }
  .chart_container {
	height: 85vw;
	width: 85vw;
  }
}

@media screen and (min-width: 768px) {
  .charts_super_container{
	grid-template-columns: repeat(auto-fit, 30vw);/*auto-fit*/
  }
  .chart_container {
	height: 500px;
	width: 500px;
  }
}

 
.chart_section{
  background-color: #f5f9ff;
  padding-bottom: 100px;
  padding-top: 100px;

}
 
.charts_header{
  position: relative;
  top: 2%;
  right: 0;
  bottom: 0;
  left: 2%; 
  
  width:96%;
  height:80px;
  
  color: black;
  font-size: 2rem;
  text-align: center;


}

.charts_super_container{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-gap: 20px; /* 图标之间的间距 */
  justify-content: center;
  align-items: center;
}


.chart_container {
  position: relative;
  background-color: white;
  
  border-width: 2px; /* 边框宽度 */
  border-style: solid; /* 边框样式，可以是 solid、dashed、dotted、double、groove 等 */
  border-color: #ececec;
  border-radius: 10px; /* 边框圆角半径 */

  padding: 1vw;
  
  overflow-y: scroll;
  overflow-x: scroll;
  
}
 

.chart_airportsubbox{
  /* height: 5000px; Dynamical set in dataAnalysis.js */
}

.chart_citysubbox{
  /* height: 200px; Dynamical set in dataAnalysis.js */
} 

.popover{
  width: 200px;
  /* height: 100px; */
}

/* 样式化通知栏 */
.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f9ff;
  color: #000;
  padding: 10px 20px;
  border-bottom: 2px solid #000;
  z-index: 9999;
  display: none; /* 默认隐藏通知栏 */
}

/* 链接样式 */
.notification a {
  color: #000;
  text-decoration: underline;
}

#site-header{
  font-size: 1.2rem;
}